<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Hearth of thon</title>
    <link href="homePageStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
  </head>

  <div class="song">
  	<div class="title">Kawausoya - Sarazanmai</div>
  	<div class="pause" onclick="togglePlay()">🔇</div>
  	<div class="player">
  		<audio class="audio" src="musique_accueil.mp3" autoplay type="audio" loop=""></audio>
  	</div>
  </div>
  

  <body>

    <h1> hearth of thon</h1>
    <a href="/board"> PLAY </a>

  </body>

	<script src="board.js"></script>
</html>
