<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Hearth of thon</title>
    <link href="victory.css" rel="stylesheet">
  </head>

<!-- A FAIRE OU A ENLEVER
  <div class="song">
  	<div class="title">Kawausoya - Sarazanmai</div>
  	<div class="pause" onclick="togglePlay()">🔇</div>
  	<div class="player">
  		<audio class="audio" src="musique_accueil.mp3" autoplay type="audio" loop=""></audio>
  	</div>
  </div>
-->


  <body>

    <section class = "victory">
      <h1> Félicitations, </h1>
      <h2> Vous avez gagné ! </h2>
      <h2> Souhaitez-vous rejouer ? </h2>
      <a href="/"> PLAY AGAIN</a>
    </section>

  </body>

	<script src="board.js"></script>
</html>
